* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Space Mono';
}
html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'font';
    src: url(/messi-ec/assets/AdiCupQ2022.woff);
}
.argentina-text{
    font-family: 'font';
    font-size: 35px;
    color: #3099da;  
}
/* header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;

} */

.logo{
    display: flex;
    align-items: center;
}
.logo a{
    margin-left: 15px;
    cursor: pointer;
}
.logo img{
    width:  65px;
    height: 65px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    
}

nav ul {
    display: flex;  
    margin-left: 100px;
    gap: 30px;
    font-size: 17px;
}
nav ul li:hover{
    font-weight: 700;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    color: #424242;
    text-decoration: none;
}
.shoes{
    font-weight: 800;
}

.container{
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
}

.search-bar{
    outline: none;
    border: none;
    background: transparent;
    margin-left: 14px;
}
.search-icon{
    font-size: large;
    cursor: pointer;
}

.icon-login{
    display: flex;
    align-items: center;
    gap: 30px;
}
#icon{
    font-size: x-large;
}

.login-btn{
    font-size: 18px;
    border: none;
    border: 1.5px solid #3099da;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.login-btn:hover{
    color: white;
    background-color:#3099da;
}

.main{
    background-image: url(/messi-ec/assets/messi_shoes_page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 610px;    
    display: flex;
    align-items: center;
    justify-content: start;
}
.adidas{
    font-family: 'font';
    font-size: 45px;
    color: #000000;
    font-weight: normal;
}
.main-content{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 30%;
    height: 68%;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.443); /* Transparent white background */
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.539); /* Soft shadow */
    backdrop-filter: blur(5px); /* Frosted glass blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    color: white;
    padding: 40px;
    margin-left: 90px;    
}
.main-content p{
    font-size: 20px;
    color: #000000;
} 

.main-content button{
    padding: 10px 20px;
    margin-top: 18px;
    background-color: transparent;
    font-size: 17px;
}

.main-content button:hover{
    font-weight: 700;
    color: black;
    background-color: #fff;
}

.scroll-container{
    overflow-x: auto;
    white-space: nowrap;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 40px;
}
.heading h4{
    margin-left: 78px;
    text-transform: uppercase;
    font-size: 30px;
}
.heading button{
    /* margin-right: var(--maring-left); */
    margin-right: 96px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #fff;
}
.main2{
    display: inline-flex;
    margin: 40px;
    padding-left: 30px;
    
}
.main2-card{
    display: inline-block;
    flex-direction: column;
    max-width: 300px;
    box-shadow: 0px 6px 10px lightgrey;
    margin-right:50px ;
}


.main2-card:hover{
    box-shadow: 0px 8px 12px #3099da;
}

.main2-card img{
    width: 100%;
    height: 383px;
    object-fit: fill;
}

.main2-card-content{
    padding: 18px;
    line-height: 32px;
    margin-bottom:10px ;
}
.main2-card-content button{
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px 10px;
    background-color: #fff;
    color: #3099da;
    border: 1px solid #3099da;
}
.main2-card-content button:hover{
    background-color: #3099da;
    color: white;
    font-weight: 700;
}
.para{
    font-weight: 700;
}

.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #eaeaea;
    
}

.foot-right {
    font-size: xx-large;
    
}
